<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Antbot</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
</head>
<body>

  <div class="ui fluid four item compact menu">
    <a class="item" href=".">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" href="./about">
      <i class="info circle icon"></i>
      About
    </a>
    <a class="item" href="./commands">
      <i class="chevron right icon"></i>
      Commands
    </a>
    <a class="item" href="https://discord.gg/NZwA9cG">
      <i class="users icon"></i>
      Server
    </a>
  </div>
  {{{body}}}
  <script src="index.js"></script>
</body>
</html>
