<div class="ui center aligned text container">
  <p class="ui header">
    Hi! This is Antbot. He's a little Discord bot I've been making for fun for
    several months. He's constantly being updated with new features.
  </p>
  <a href="https://github.com/eminguyen/antbot">
    <div class="ui huge animated faded button" tabindex="0">
      <div class="visible content">Source Code</div>
      <div class="hidden content">
        <i class="code icon"></i>
      </div>
    </div>
  </a>
  <div class="ui text container">
    <div class="ui celled list">
      <div class="item">
        <div class="content">
          <div class="header">osu</div>
          Returns Osu Commands
        </div>
      </div>
    </div>
  </div>
</div>
