<div class="ui center aligned text intro container">
  <p class="ui header">
    Hi! This is Antbot. He's a little Discord bot I've been making for fun for
    several months. He's constantly being updated with new features.
  </p>
  <a href="https://github.com/eminguyen/antbot">
    <div class="ui huge animated basic faded button" tabindex="0">
      <div class="visible content">Source Code</div>
      <div class="hidden content">
        <i class="code icon"></i>
      </div>
    </div>
  </a>
</div>
<div class="ui text container">
  <div class="ui header">Task List</div>
  <div class="ui celled animated list">
    <div class="item">
      <div class="content">
        <div class="header">help</div>
        Returns a list of commands
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">pubg</div>
        Returns PUBG player stats
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">osu</div>
        Returns Osu player stats
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">hearthstone</div>
        Returns Hearthstone card stats
      </div>
    </div>
  </div>
</div>
