<div class="ui text container">
  <div class="ui celled animated list">
    {{#each commands}}
        <div class="item">
          <div class="content">
            <div class="header">{{usage}}</div>
            {{description}}
          </div>
        </div>
    {{/each}}
    <p>
      * indicates optional argument
    </p>
  </div>
</div>
