<div class="ui center aligned text container">
  <h1 class="ui huge header">
    Antbot
  </h1>
  <p class="ui header">
    A modular chat bot with games, weather, statistics, and mod commands.
    Constantly being updated!
  </p>
  <a href={{invite}}>
    <div class="ui massive animated button" tabindex="0">
      <div class="visible content">Invite me!</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </div>
  </a>
</div>

<div class="ui raised center aligned container segment">
  <div class="ui grid" id="stats">
    <div class="ui statistic four wide column">
      <div class="value">
        {{users}}
      </div>
      <div class="label">
        Users
      </div>
    </div>
    <div class="ui statistic four wide column">
      <div class="value">
        {{servers}}
      </div>
      <div class="label">
        Servers
      </div>
    </div>
    <div class="ui statistic four wide column">
      <div class="value">
        1
      </div>
      <div class="label">
        AntBot
      </div>
    </div>
  </div>
  <div class="ui statistic">
    <div class="label">
      Uptime
    </div>
    <div class="value">
      {{uptime}}
    </div>
  </div>
</div>
